

<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>Agregar Calificacion</h3>
    </div>
    <div class="card-body">
        <form action="/calificaciones/new-cal" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Calificacion</label>
                <input name="Calificacion" type="text" class="form-control" id="" placeholder="Calificacion" autofocus>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Materia</label>
                <input name="Materia" type="text" class="form-control" id="" placeholder="Materia">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
                <textarea name="Description" class="form-control" id="" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" >Guardar</button>
            </div>
        </form>
    </div>
</div>
</div>