<div class="card">
  <div class="card-header">
    About
  </div>
  <div class="card-body">
    <h5 class="card-title">Sistema de gestion de calificaciones ITZ</h5>
    <p class="card-text">El Instituto Tecnológico de Zacatecas, cuyas siglas institucionales son ITZ, es una institución pública de educación superior localizada en Zacatecas, Zacatecas, México, creado el 4 de octubre de 1976.</p>
    <a href="http://zacatecas.tecnm.mx/" class="btn btn-primary">Pagina ITZ</a>
  </div>
</div>