<div class="card">
  <div class="card-header">
    Sistema de gestion de calificaciones ITZ
    
  </div>
  <div class="card-body">
    <h5 class="card-title">Tecnologico de Zacatecas</h5>
    <p class="card-text">El Instituto Tecnológico surge como un proyecto educativo destinado a impulsar el desarrollo industrial del estado y a satisfacer la demanda de mano de obra calificada requerida por otras zonas de la región con mayor desarrollo industrial. La gestación y nacimiento de Instituto ocurre en un periodo muy breve: El decreto para su creación se expide a sólo tres meses del terminó la administración del presidente Luis Echeverría.

Entre los meses de agosto y septiembre de 1976, Fernando Pámanes Escobedo, gobernador del estado, recibe la solicitud del Gobierno Federal para colaborar en la creación del Instituto Tecnológico de Zacatecas y de inmediato otorga las facilidades necesarias que los promotores del proyecto para que actúen a la brevedad.

Mientras tanto, en la Ciudad de México, el Director del Sistema Nacional de Institutos Tecnológicos Regionales, Ing. Emiliano Hernández Camargo, designa al contador público Rubén Collazo Moreno para que promocionara la creación del Instituto Tecnológico Regional de Zacatecas y lo pusiera a funcionar en un término de dos semanas. En los primeros días del mes de octubre de 1976 todo estaba listo para que el Instituto Tecnológico Regional de Zacatecas entrara en funciones. Prácticamente sin recursos, el Instituto Tecnológico de Zacatecas inicia sus actividades el cuatro de octubre de 1976, con una población de 64 alumnos en el tronco común de las carreras de Ingeniería Industrial en Producción y Licenciatura en Administración de Empresas.
</p>
    <a href="http://zacatecas.tecnm.mx/" class="btn btn-primary">Pagina ITZ</a>
  </div>
</div>